set(autostart ${PLUGIN_POWERMANAGER_AUTOSTART})

if(PLUGIN_POWERMANAGER_STARTUPORDER)
set (startuporder ${PLUGIN_POWERMANAGER_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_POWERMANAGER_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)

